<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057403587134-ljhhopvs2007o3s70vf166rk5uonfrlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057403587134-ljhhopvs2007o3s70vf166rk5uonfrlg</string>
	<key>API_KEY</key>
	<string>AIzaSyAuvLSBvozeoLz_5-Ulw00L_1xJQjgSWyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1057403587134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haripatel8895.gel</string>
	<key>PROJECT_ID</key>
	<string>gel-auth-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>gel-auth-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057403587134:ios:ebdb910ae1413624cf9f6f</string>
</dict>
</plist>